<center><h1>Sistema Escolar</h1></center>
<br><br>
<center>
	<%= link_to 'Lista de estudantes', students_path %>
	<%= link_to 'Lista de cursos', courses_path %>
	<%= link_to 'Matrículas', classrooms_path %>
</center>